* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-model {
  border: 2px solid red;
  height: 200px;
  width: 200px;
  padding: 25px;
  font-size: 20px;
  margin: 20px;
  background-color: #000;
}

.parent {
  display: flex;
}
